doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Trivia Quiz

    link(rel='stylesheet', type='text/css', href='build/build.css')
    link(rel='stylesheet', type='text/css', href='build/customBuild.css')

  body
    audio(id='buzzer')
      source(src='buzz.wav' type='audio/wav')
    
    article

      section
          h1 Trivia Quiz
      
      section
        div(class='buzzpage')
          h3 buzz
      
      section
        h3(class='question') soal soal soal soal soal soal soal.. ini soal?
          form(class='rangeInput' id='form1')
            div(class='valuemin') 0
            div(class='valuemax') 20
            input(type='range' class='s1 red' name='rangeInputx' min='0' max='20' value='10' oninput='amountx.value=rangeInputx.value')
            div(class='slider slider-odd')
              output(id='xx' name='amountx' for='rangeInputx') 10
            input(type='submit' class='sb lockRed' value='Lock Answer' onClick='inputRed(rangeInputx.value)')
            div(id='zz') k
          form(class='rangeInput' id='form2')
            input(type='range' class='s2 blue' name='rangeInputy' min='0' max='20' value='10' oninput='amounty.value=rangeInputy.value')
            div(class='slider slider-even')
              output(name='amounty' for='rangeInputy') 10
            input(type='submit' class='sb lockBlue' value='Lock Answer' onClick='inputBlue(rangeInputy.value)') 
            div(id='zzz') k
      
      section
        h3 jawaban : 12
        h5 jawaban red (selisih) :
        div(class='ansred') 
        h5 jawaban blue (selisih) :
        div(class='ansblue') 
      
      section
        h2 Keyboard Interaction
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-keys">bespoke-keys</a>

      section
        h2 Touch Interaction
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-touch">bespoke-touch</a>

      section
        h2 Responsive Slides
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-scale">bespoke-scale</a>

      section
        h2 Bullet List
        h3.bullet Powered by <a href="https://github.com/markdalgleish/bespoke-bullets">bespoke-bullets</a>
        ul
          li Bullet 1
          li Bullet 2
          li Bullet 3

      section
        h2 Syntax Highlighting
        h3 Powered by <a href="http://twitter.com/LeaVerou">Lea Verou</a>'s <a href="https://github.com/LeaVerou/prism">Prism</a>
        pre
          code.language-javascript.
            bespoke.from('article', [
              classes(),
              keys(),
              touch(),
              bullets('li, .bullet')
            ]);

      section(data-bespoke-hash='named-route')
        h2 Named Route
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-hash">bespoke-hash</a>
        p Look up! This route has been named with a <em>'data-bespoke-hash'</em> attribute.

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Emphatic Slide!
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-backdrop">bespoke-backdrop</a>

      section
        h2.bullet Just the beginning...
        br
        ul
          li Edit <a href="http://jade-lang.com/">Jade</a> markup in <em>'src/index.jade'</em>
          li Edit <a href="http://learnboost.github.io/stylus/">Stylus</a> styles in <em>'src/styles/main.styl'</em>
          li Edit JavaScript in <em>'src/scripts/main.js'</em>
        br
        ul
          li
            strong Enjoy! :)
            a(href='http://twitter.com/markdalgleish')  -@markdalgleish

    script(src='build/build.js')
    script(src='build/customBuild.js')