doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Trivia Quiz

    link(rel='stylesheet', type='text/css', href='build/build.css')
    link(rel='stylesheet', type='text/css', href='build/customBuild.css')

  body
    
    audio(id='audioCorrect')
      source(src='build/music/correct.ogg' type='audio/ogg')
    audio(id='audioWrong')
      source(src='build/music/wrong.ogg' type='audio/ogg')
    audio(id='audioLock')
      source(src='build/music/lock.ogg' type='audio/ogg')
    audio(id='rules')
      source(src='build/music/Rules explanation.ogg' type='audio/ogg')
    audio(id='badumtss')
      source(src='build/music/Ba Dum Tss.ogg' type='audio/ogg')
    audio(id='drumRoll')
      source(src='build/music/Drum Roll.ogg' type='audio/ogg')
    audio(id='drumRollF')
      source(src='build/music/Drum Roll Final.ogg' type='audio/ogg')
    audio(id='score')
      source(src='build/music/Add Score.ogg' type='audio/ogg')
    audio(id='clap')
      source(src='build/music/Clap.ogg' type='audio/ogg')
    audio(id='expl')
      source(src='build/music/Explanation.ogg' type='audio/ogg')
    audio(id='nextQ')
      source(src='build/music/Next Question.ogg' type='audio/ogg')
    audio(id='QM')
      source(src='build/music/QM Intro.ogg' type='audio/ogg')
    audio(id='ans')
      source(src='build/music/Question Asked.ogg' type='audio/ogg')
    audio(id='ask')
      source(src='build/music/Question.ogg' type='audio/ogg')
    audio(id='swap')
      source(src='build/music/Swap.ogg' type='audio/ogg')
    audio(id='end')
      source(src='build/music/Ending.ogg' type='audio/ogg')
    
    article
      section
        h2 Proyek akhir TKPPL
      
      section
        h1 Trivia Quiz  
      
      section
        h2.bullet Created by : 
        ul
            li Kevin [13.111.0437] 
            li Rudy Setia [13.111.0534]
            li Eka Pratama Wijaya [13.111.0917]
            li Jeffrey Ngadio [13.111.1017]

      section
        h2.bullet Quiz Master :
        ul
            li Kevin [13.111.0437]
            
      section
        h2.bullet Apa itu Trivia Quiz?  
        ul
            li.h6 Trivia Quiz adalah sebuah quiz trivial.
            li <img src="build/img/say.png" width="200px">
            li(style='font-size:24px;font-weight:bold;') Trivia Quiz adalah sebuah quiz berisi pertanyaan-pertanyaan trivial yang umumnya dianggap remeh oleh kebanyakan orang.
      
      section
        h2.bullet Rules
        ul
          li.h6 Pada Quiz ini terdapat 3 jenis soal, yaitu :
          li.h6 Multiple Choice
          li.h6 Value Estimation
          li.h6 True/False
          li.h6 Untuk setiap soal benar akan diberi nilai 5.
      
      section(class='a')
        h2(class='titleQ') Soal 1
        ul(class='question')
          li.h3
          li(class='qImgContainer')<img src="build/img/Question/three-musketeers.jpg" height="200px">
          li Ketiga musketir dalam Novel &quot;The Three
          li Musketeers&quot; adalah Arthos, Porthos dan Aramis.
        ul(class='choice')
          li(class='tf1 correct' onClick='SelectedC()' onmouseover='lock()') True
          li(class='tf2 wrong' onClick='SelectedW(0)' onmouseover='lock()') False
        div(class='block') 
        div(class='score1' onClick='incrementValue1()') 
        div(class='score2' onClick='incrementValue2()') 
      
      section(class='a')
        h2(class='titleQ') Penjelasan Soal 1
        ul(class='expl')
          li.h3
          li(style='font-size:17px;') The Three Musketeers merupakan sebuah Novel karya Alexandre Dumas. Arthos, Porthos dan Aramis merupakan ketiga musketir yang dimaksud judul tersebut. Novel ini terkenal dengan quote &quot;All for one, one for all&quot;.
        div(class='score1' onClick='incrementValue1()') 
        div(class='score2' onClick='incrementValue2()')
      
      section(class='a')
        h2(class='titleQ') Soal 2
        ul(class='question')
          li.h3
          li(class='qImgContainer')<img src="build/img/Question/everest.jpg" height="200px">
          li Berapa meter ketinggian dari gunung 
          li tertinggi di dunia, Gunung Everest?
        div(class='block')
        div(class='score1' onClick='incrementValue1()') 
        div(class='score2' onClick='incrementValue2()')
      
      section(class='a')
        h2(class='titleQ') Penjelasan Soal 2
        ul(class='expl')
          li.h3
          li Gunung Everest, juga dikenal sebagai Sagarmatha di Nepal dan Chomolungma di Tibet, merupakan gunung tertinggi di dunia dengan tinggi 8.850 m di atas permukaan laut.
        div(class='score1' onClick='incrementValue1()') 
        div(class='score2' onClick='incrementValue2()')
      
      section(class='a')
        h2(class='titleQ') Soal 3
        ul(class='question')
          li.h3
          li(class='qImgContainer')<img src="build/img/Question/adolf-hitler.jpg" height="200px">
          li Adolf Hitler meninggal dunia akibat dibunuh
          li jenderalnya sendiri, Erwin Rommel.
        ul(class='choice')
          li(class='tf1 wrong' onClick='SelectedW(1)' onmouseover='lock()') True
          li(class='tf2 correct' onClick='SelectedC()' onmouseover='lock()') False
        div(class='block')
        div(class='score1' onClick='incrementValue1()') 
        div(class='score2' onClick='incrementValue2()') 
      
      section(class='a')
        h2(class='titleQ') Penjelasan Soal 3
        ul(class='expl')
          li.h3
          li Pada tanggal 30 April 1945, Adolf Hitler bunuh diri bersama dengan istrinya, Eva Braun untuk menghindari tentara Soviet yang hanya berjarak beberapa blok dari Reich Chancellery.
        div(class='score1' onClick='incrementValue1()') 
        div(class='score2' onClick='incrementValue2()')
      
      section(class='a')
        h2(class='titleQ') Soal 4
        ul(class='question')
          li.h3
          li(class='qImgContainer')<img src="build/img/Question/mikroskil.jpg" height="100px">
          li Di mana ruangan kelas
          li TI-A Sore Semester IV ?
        ul(class='choice')
          li(class='mc1 wrong' onClick='SelectedW(2)' onmouseover='lock()') A. L1/T2
          li(class='mc2 correct' onClick='SelectedC()' onmouseover='lock()') B. T2/L2
          li(class='mc3 wrong' onClick='SelectedW(3)' onmouseover='lock()') C. T1/L2
          li(class='mc4 wrong' onClick='SelectedW(4)' onmouseover='lock()') D. T2/L1
        div(class='score1' onClick='incrementValue1()') 
        div(class='score2' onClick='incrementValue2()')
      
      section(class='a')
        h2(class='titleQ') Penjelasan Soal 4
        ul(class='expl')
          li.h3
          li(style="font-size:60px;") Kehendak Tuhan !
        div(class='score1' onClick='incrementValue1()') 
        div(class='score2' onClick='incrementValue2()')

      section(class='a')
        h2(class='titleQ') Soal 5
        ul(class='question')
          li.h3
          li(class='qImgContainer')<img src="build/img/Question/energy.jpg" height="100px">
          li Berapa kalori yang sama
          li dengan 1 joule?
        ul(class='choice')
          li(class='mc1 wrong' onClick='SelectedW(5)' onmouseover='lock()') A. 2,4 kal
          li(class='mc2 correct' onClick='SelectedC()' onmouseover='lock()') B. 0,24 kal
          li(class='mc3 wrong' onClick='SelectedW(6)' onmouseover='lock()') C. 0,42 kal
          li(class='mc4 wrong' onClick='SelectedW(7)' onmouseover='lock()') D. 0,72 kal
        div(class='score1' onClick='incrementValue1()') 
        div(class='score2' onClick='incrementValue2()')
      
      section(class='a')
        h2(class='titleQ') Penjelasan Soal 5
        ul(class='expl')
          li.h3
          li <img src="build/img/Calorie.png" width="350px">
          li Mbah Google telah bersabda!
        div(class='score1' onClick='incrementValue1()') 
        div(class='score2' onClick='incrementValue2()')

      section(class='a')
        h2(class='titleQ') Soal 6
        ul(class='question')
          li.h3
          li(class='qImgContainer')<img src="build/img/Question/sandy.png" height="100px">
          li Apakah hobi karakter &quot;Sandy Cheeks&quot;
          li dalam seri &quot;Spongebob Squarepants&quot;
        ul(class='choice')
          li(class='mc1 wrong' onClick='SelectedW(8)' onmouseover='lock()') A. Mengeong
          li(class='mc2 wrong' onClick='SelectedW(9)' onmouseover='lock()' style='width:200px;background-size:200px 32px;') B. Nonton Spongebob
          li(class='mc3 wrong' onClick='SelectedW(10)' onmouseover='lock()') C. Meditasi
          li(class='mc4 correct' onClick='SelectedC()' onmouseover='lock()') D. Karate
        div(class='score1' onClick='incrementValue1()') 
        div(class='score2' onClick='incrementValue2()')
      
      section(class='a')
        h2(class='titleQ') Penjelasan Soal 6
        ul(class='expl')
          li.h3
          li Sandra &quot;Sandy&quot; Cheeks, lebih sering disapa Sandy Cheeks sangat menyukai Karate serta beberapa kegiatan Extreme lainnya.
        div(class='score1' onClick='incrementValue1()') 
        div(class='score2' onClick='incrementValue2()')
      
      section(class='a')
        h2(class='titleQ') Soal 7
        ul(class='question')
          li.h3
          li(class='qImgContainer')<img src="build/img/Question/electricity.jpg" height="200px">
          li James Watt adalah penemu 
          li &quot;Listrik&quot; pertama di dunia.
        ul(class='choice') 
          li(class='tf1 wrong' onClick='SelectedW(11)' onmouseover='lock()') True
          li(class='tf2 correct' onClick='SelectedC()' onmouseover='lock()') False
        div(class='block')
        div(class='score1' onClick='incrementValue1()') 
        div(class='score2' onClick='incrementValue2()')
      
      section(class='a')
        h2(class='titleQ') Penjelasan Soal 7
        ul(class='expl')
          li.h3
          li Listrik pertama kali ditemukan oleh <strong>Michael Faraday</strong> yang kemudian dijuluki juga sebagai &quot;Bapak Listrik&quot;.
        div(class='score1' onClick='incrementValue1()') 
        div(class='score2' onClick='incrementValue2()')
      
      section(class='a')
        h2(class='titleQ') Soal 8
        ul(class='question')
          li.h3
          li(class='qImgContainer')<img src="build/img/Question/ice-hockey.jpg" height="200px">
          li Berapakah jumlah pemain dalam 
          li permainan Ice Hockey ?
        div(class='block')
        div(class='score1' onClick='incrementValue1()')
        div(class='score2' onClick='incrementValue2()')
        
      section(class='a')
        h2(class='titleQ') Penjelasan Soal 8
        ul(class='expl')
          li.h3
          li Pemain dalam satu regu yang dipakai pada saat permainan &quot;Ice Hockey&quot; berlangsung berjumlah 6 pemain.
        div(class='score1' onClick='incrementValue1()') 
        div(class='score2' onClick='incrementValue2()')
      
      section(class='a')
        h2(class='titleQ') Soal 9
        ul(class='question')
          li.h3
          li(class='qImgContainer')<img src="build/img/Question/C.png" height="100px">
          li Manakah di bawah ini
          li yang mengandung C ?
        ul(class='choice')
          li(class='mc1 correct' onClick='SelectedC()' onmouseover='lock()') A. Jeruk
          li(class='mc2 wrong' onClick='SelectedW(12)' onmouseover='lock()') B. meriCa
          li(class='mc3 wrong' onClick='SelectedW(13)' onmouseover='lock()') C. Besi
          li(class='mc4 wrong' onClick='SelectedW(14)' onmouseover='lock()') D. C++
        div(class='score1' onClick='incrementValue1()') 
        div(class='score2' onClick='incrementValue2()')
       
      section(class='a')
        h2(class='titleQ') Penjelasan Soal 9
        ul(class='expl')
          li.h3
          li Karena jeruk kan emang kaya akan Vitamin C.
          li <img src="build/img/Orange.png" width="130px">
        div(class='score1' onClick='incrementValue1()') 
        div(class='score2' onClick='incrementValue2()')
      
      section(class='a')
        h2(class='titleQ') Soal 10
        ul(class='question')
          li.h3
          li(class='qImgContainer')<img src="build/img/Question/wall-e.jpg" height="200px">
          li Pada tahun berapa film hasil kolaborasi
          li Disney dan Pixar, <i>Wall-E</i>, dirilis?
        div(class='block')
        div(class='score1' onClick='incrementValue1()') 
        div(class='score2' onClick='incrementValue2()')
        
      section(class='a')
        h2(class='titleQ') Penjelasan Soal 10
        ul(class='expl')
          li.h3
          li WALL-E, film animasi komedi Sci-Fi yang diproduksi oleh Pixar Animation Studio dan dirilis oleh Walt Disney Pictures pada tahun 2008.
        div(class='score1' onClick='incrementValue1()') 
        div(class='score2' onClick='incrementValue2()')
        
      section(class='a')
        h2(class='titleQ') Mikroskil Absolute Champion of Exclusive Trivial Quiz (MACET) 2015
        <img src="build/img/trophy.png" width="200px">

    script(src='build/build.js')
    script(src='build/customBuild.js')