doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Trivia Quiz

    link(rel='stylesheet', type='text/css', href='build/build.css')
    link(rel='stylesheet', type='text/css', href='build/customBuild.css')

  body
    
    audio(id='audioCorrect')
      source(src='build/music/correct.ogg' type='audio/ogg')
    audio(id='audioWrong')
      source(src='build/music/wrong.ogg' type='audio/ogg')
    audio(id='audioLock')
      source(src='build/music/lock.ogg' type='audio/ogg')
    audio(id='rules')
      source(src='build/music/rules.ogg' type='audio/ogg')
    audio(id='badumtss')
      source(src='music/Ba Dum Tss.ogg' type='audio/ogg')
    audio(id='champion')
      source(src='music/We Are The Champion.ogg' type='audio/ogg')
    audio(id='nextQ')
      source(src='music/next_Q.ogg' type='audio/ogg')
    audio(id='drumRoll')
      source(src='music/Drum Roll.ogg' type='audio/ogg')
    audio(id='drumRollF')
      source(src='music/Drum Roll Final.ogg' type='audio/ogg')
    
    article
      section
        h2 Proyek akhir TKPPL
      
      section
        h1 Trivia Quiz  
      
      section
        h2.bullet Create by : 
        hr
        ul
        
            li - Kevin [13.111.0437] 
            li - Rudy Setia [13.111.0534]
            li - Jeffrey Ngadio [13.111.1017]
            li - Eka Pratama Wijaya [13.111.0917]

      section
        h2.bullet MC :
        hr
        ul
            li - Kevin [13.111.0437]
            
      section
        h2.bullet Apa itu Trivia Quiz?  
        hr
        ul
            li 
                h6 Trivia Quiz adalah konten dalam bentuk Quiz(tebak-tebakan) dimana ada 1 atau beberapa pertanyaan yang harus dijawab, bisa saja menggunakan beberapa macam metode jawaban misalnya metode pilihan ganda, metode essay, dan masih banyak lagi...

      section
        h2.bullet Rules
        hr
        ul
            li
                h6 <strong>Pada Quiz kali ini terdapat</strong> : 10 soal dimana jenis-jenis pertanyaan akan berupa Pilihan Ganda, Value Estimation, dan True/False Question.
            li
                h6 Setiap pertanyaan akan diberi waktu berpikir maksimal 15 detik dan jika tidak menjawab dalam waktu 15 detik maka pertanyaan tersebut secara otomatis akan dioper ke tim selanjutnya.
            li
                h6 Setiap pertanyaan yang benar akan diberikan bobot nilai.
            li
                h6 Setiap sebuah pertanyaan selesai dibaca, para peserta wajib menekan tombol yang sudah disediakan, bagi yang duluan menekan tombol tersebut diperbolehkan untuk menjawab pertanyaan, ataupun boleh juga dioper kepada tim lawan, jika tim lawan salah menjawab, maka tim pertama akan mendapatkan poin tambahan dan jika tim kedua diperbolehkan untuk mengoper kembali pertanyaan yang dioper oleh tim pertama dan jika tim pertama tidak menjawab/salah menjawab, maka tim kedua akan mendapatkan nilai...(Jika tim yang dioper pertanyaanna oleh tim lawan dan mereka berhasil menjawab dengan benar, maka tim tersebut akan mendapatkan poin tambahan).
                

      section
        h2.bullet Rules (Cont..)
        hr
        ul
            li
                h6 Pada Quiz bagian Value Estimation, pada setiap pertanyaan yang ada akan diberikan jawaban berupa range yang tersedia (Misalnya <0..10>), pada quiz bagian ini tidak diberlakukan sistem menekan tombol, setiap tim berhak memberikan jawaban yang ada, jika salah satu tim menjawab dengan nilai benar/mendekati, maka dialah yang mendapatkan poin.
            li
                h6 Jika terjadi hal dimana kedua tim menjawab dengan jawaban persis yang benar, maka kedua tim tersebut sama-sama akan mendapatkan nilai.
      
      section(class='a')
        h2(class='titleQ') Soal 1
        ul(class='question')
          li.h3
          li Bagaimanakah cara penguasa otoriter paling
          li terkenal di dunia, Adolf Hitler, meninggal?
        ul(class='choice')
          li(class='mc1 correct' onClick='SelectedC()' onmouseover='lock()') A. Bunuh diri
          li(class='mc2 wrong' onClick='SelectedW(0)' onmouseover='lock()') B. Lupa bernafas
          li(class='mc3 wrong' onClick='SelectedW(1)' onmouseover='lock()') C. Menelan batu
          li(class='mc4 wrong' onClick='SelectedW(2)' onmouseover='lock()') D. Bosan
        div(class='score1' onClick='incrementValue1()') 
        div(class='score2' onClick='incrementValue2()') 
      
      section(class='a')
        h2(class='titleQ') Soal 2
        ul(class='question')
          li.h3
          li Apakah hobi karakter &quot;Sandy Cheeks&quot;
          li dalam seri &quot;Spongebob Squarepants&quot;
        ul(class='choice')
          li(class='mc1 correct' onClick='SelectedC()' onmouseover='lock()') A. Karate
          li(class='mc2 wrong' onClick='SelectedW(0)' onmouseover='lock()') B. Bermain Basket
          li(class='mc3 wrong' onClick='SelectedW(1)' onmouseover='lock()') C. Makan Krabby Patty
          li(class='mc4 wrong' onClick='SelectedW(2)' onmouseover='lock()') D. Tidur
        div(class='score1' onClick='incrementValue1()') 
        div(class='score2' onClick='incrementValue2()')
      
      section(class='a')
        h2(class='titleQ') Soal 3
        ul(class='question')
          li.h3
          li Manakah buah di bawah ini
          li yang mengandung vitamin C ?
        ul(class='choice')
          li(class='mc1 correct' onClick='SelectedC()' onmouseover='lock()') A. Jeruk
          li(class='mc2 wrong' onClick='SelectedW(0)' onmouseover='lock()') B. Merica
          li(class='mc3 wrong' onClick='SelectedW(1)' onmouseover='lock()') C. Besi
          li(class='mc4 wrong' onClick='SelectedW(2)' onmouseover='lock()') D. C++
        div(class='score1' onClick='incrementValue1()') 
        div(class='score2' onClick='incrementValue2()')
        
      section(class='a')
        h2(class='titleQ') Soal 4
        ul(class='question')
          li.h3
          li Dimanakah Ruangan Kelas
          li TI-A Sore Semester IV ?
        ul(class='choice')
          li(class='mc1 correct' onClick='SelectedC()' onmouseover='lock()') A. T1/L2
          li(class='mc2 wrong' onClick='SelectedW(0)' onmouseover='lock()') B. T2/L1
          li(class='mc3 wrong' onClick='SelectedW(1)' onmouseover='lock()') C. T1/L3
          li(class='mc4 wrong' onClick='SelectedW(2)' onmouseover='lock()') D. T3/L1
        div(class='score1' onClick='incrementValue1()') 
        div(class='score2' onClick='incrementValue2()')

      section(class='a')
        h2(class='titleQ') Soal 5
        ul(class='question')
          li.h3
          li Berapa kalori yang sama
          li dengan 1 joule?
        ul(class='choice')
          li(class='mc1 correct' onClick='SelectedC()' onmouseover='lock()') A. 0,24 kal
          li(class='mc2 wrong' onClick='SelectedW(0)' onmouseover='lock()') B. 2,4 kal
          li(class='mc3 wrong' onClick='SelectedW(1)' onmouseover='lock()') C. 0,024 kal
          li(class='mc4 wrong' onClick='SelectedW(2)' onmouseover='lock()') D. 24 kal
          
        div(class='score1' onClick='incrementValue1()') 
        div(class='score2' onClick='incrementValue2()')
        
        
      section(class='a')
        h2(class='titleQ') Soal 6
        ul(class='question')
          li.h3
          li 7.	James Watt adalah penemu 
          li &quot;Listrik&quot; pertama di dunia.
        ul(class='choice')
          li(class='mc1 correct' onClick='SelectedC()' onmouseover='lock()') True
          li(class='mc4 wrong' onClick='SelectedW(2)' onmouseover='lock()') False
          
        div(class='score1' onClick='incrementValue1()') 
        div(class='score2' onClick='incrementValue2()')
        
      section(class='a')
        h2(class='titleQ') Soal 7
        ul(class='question')
          li.h3
          li Berapa tinggi Gunung Everest ?
         
        div(class='score1' onClick='incrementValue1()') 
        div(class='score2' onClick='incrementValue2()')

      section(class='a')
        h2(class='titleQ') Soal 8
        ul(class='question')
          li.h3
          li Berapakah jumlah pemain dalam 
          li permainan Ice Hockey ?
         
        div(class='score1' onClick='incrementValue1()') 
        div(class='score2' onClick='incrementValue2()')

      section(class='a')
        h2(class='titleQ') Soal 9
        ul(class='question')
          li.h3
          li Pada tahun ke berapa film "The Avengers" 
          li dirilis untuk pertama kalinya ?
         
        div(class='score1' onClick='incrementValue1()') 
        div(class='score2' onClick='incrementValue2()')


      section(class='a')
        h2 Bullet List
        h3.bullet Powered by <a href="https://github.com/markdalgleish/bespoke-bullets">bespoke-bullets</a>
        ul
          li Bullet 1
          li Bullet 2
          li Bullet 3
        div(class='score1' onClick='incrementValue1()') 
        div(class='score2' onClick='incrementValue2()') 

      section
        h2 Syntax Highlighting
        h3 Powered by <a href="http://twitter.com/LeaVerou">Lea Verou</a>'s <a href="https://github.com/LeaVerou/prism">Prism</a>
        pre
          code.language-javascript.
            bespoke.from('article', [
              classes(),
              keys(),
              touch(),
              bullets('li, .bullet')
            ]);

      section(data-bespoke-hash='named-route')
        h2 Named Route
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-hash">bespoke-hash</a>
        p Look up! This route has been named with a <em>'data-bespoke-hash'</em> attribute.

      section.em phatic-text(data-bespoke-backdrop='emphatic')
        h2 Emphatic Slide!
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-backdrop">bespoke-backdrop</a>

      section
        h2.bullet Just the beginning...
        br
        ul
          li Edit <a href="http://jade-lang.com/">Jade</a> markup in <em>'src/index.jade'</em>
          li Edit <a href="http://learnboost.github.io/stylus/">Stylus</a> styles in <em>'src/styles/main.styl'</em>
          li Edit JavaScript in <em>'src/scripts/main.js'</em>
        br
        ul
          li
            strong Enjoy! :)
            a(href='http://twitter.com/markdalgleish')  -@markdalgleish

    script(src='build/build.js')
    script(src='build/customBuild.js')